[Unit]
Description=MAPIO First boot service
ConditionPathExists=!/boot/first_boot_done

[Service]
Type=oneshot
ExecStart=/usr/bin/mapio-init.sh

[Install]
WantedBy=multi-user.target