[Unit]
Description=MAPIO webserver backend service

[Service]
Type=simple
ExecStart=/usr/bin/mapio_webserver_back app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
